
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  height: 45px;
  width: fit-content;
  background-color: aquamarine;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
}
